@model TeamModel
<h1>Редактировать команду</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name">Название:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Region">Регион:</label>
        <input asp-for="Region" class="form-control" />
        <span asp-validation-for="Region" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>