@model List<PlayerModel>

<h2>Игроки</h2>

<p>
    <a asp-action="Create">Добавить нового игрока</a>
</p>
<p>
    <a asp-action="PopularCountry">Найти самую популярную страну</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Страна</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.Country</td>
                    <td>
                            <a asp-action="Edit" asp-route-id="@player.Id">Редактировать</a> |
                            <a asp-action="Delete" asp-route-id="@player.Id">Удалить</a>
                    </td>
                </tr>
        }
    </tbody>
</table>